body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.content{
  display: flex;
  height: 100%;
  flex-flow: row-reverse;
}

.sidebar{
  display: flex;
  flex-flow: column;
  position: sticky;
  flex: 0 0 25rem;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25rem; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;/* Black */
  background-color: #f1f1f1;
}

.node-tree{
  background-color: #f1f1f1;
  border: 0px !important; 

}

.sidebar-main{
  padding-right: 10px;
  padding-left:10px;
  word-wrap: break-word;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

#current-file{
  overflow: hidden;
  flex-shrink: 0;
}

#tree{
  overflow:auto;
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
}

.bottomButtons{
  background-color: #cecece;
  width: inherit;
}

.bottomButtons button{
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  margin: 5px 5px;
}

.preview {
  flex: 1;
  overflow-y: auto;
}