body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.content{
  display: flex;
  height: 100%;
  flex-flow: row-reverse;
}

.sidebar{
  display: flex;
  flex-flow: column;
  flex: 0 0 200px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20rem; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;/* Black */
  background-color: #f1f1f1;
}

.sidebar-main{
  padding-right: 10px;
  padding-left:10px;
  word-wrap: break-word;
  position: sticky;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

#current-file{
  overflow: hidden;
  flex-shrink: 0;
}

#tree{
  overflow:auto;
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
}

.bottomButtons{
  background-color: #cecece;
  width: inherit;
}

.bottomButtons button{
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  margin: 5px 5px;
}

.preview {
  flex: 1 0 auto;
}

.renderjson                {overflow: hidden; flex: 0 0 auto; margin: 0 0; min-height: 100%;}
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: grey;}
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .string:hover  {background-color: grey;}
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: lightblue; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }

.highlight .nc { color: plum;
                 font-weight: normal; }
.highlight .nt { color: lightblue; }